In [31]:
# "#" is used to comment a single line

In [32]:
''' triple quotes
is used to comment 
multiple line in python'''
a= 10
print(a)

10

In [45]:
'''A variable is a string of characters 
and numbers associated with a piece of information 
'''
name = "soham"
age = 20
# HERE name and age are variable that contains values

In [46]:
a1= 20

In [47]:
type(a1)

int

In [48]:
a1= float(a1)

In [49]:
type(a1)

float

In [50]:
a1= str(a1)

In [51]:
a1

'20.0'

In [52]:
type(a1)

str

In [53]:
#open a command-line and type in 
#the word python , or python3 if you have both versions, 
#followed by the path to your script,

In [54]:
list1=[1,2,3,4,5]

In [55]:
list1[1:3]

[2, 3]

In [59]:
'''Complex numbers are the numbers that are expressed in the form of a+ib 
where,
a,b are real numbers and 'i' is an imaginary number called “iota”
in python it is represented as (a+jb)'''
b1 = 2+3j

In [60]:
type(b1)

complex

In [62]:
b1.real

2.0

In [63]:
b1.imag

3.0

In [67]:
Age = 25

In [66]:
_age =25

In [69]:
@age =25 # we can't use special character in variable declaration as puthon is case sensitive

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (417250693.py, line 1)

In [70]:
price = 9.99

In [71]:
type(price)

float

In [72]:
name = "soham patra"

In [73]:
print(name)

soham patra

In [74]:
var1 ="Hello, World!"

In [75]:
var1[7:12:]

'World'

In [76]:
is_student = True

In [77]:
type(is_student)

bool