1)

- DBMS or Database Management System is a 
software application used to access, create, and 
manage databases. 
- With the help of DBMS, you can easily create, 
retrieve and update data in databases.
- DBMS acts as an interface between the end-users 
and the database

#### Differentiate between SQL and No SQL
- When it comes to choosing a database the biggest decision is picking a relational (SQL) or non-relational (NoSQL) data structure. While both databases are viable options still there are certain key differences between the two that users must keep in mind when making a decision.

2)

#### Data Definition Language actually consists of the SQL commands that can 
- be used to define the database schema.
-  It simply deals with descriptions of the database schema and is used to 
-  create and modify the structure of database objects in the database.
-  DDL is a set of SQL commands used to create, modify, and delete database structures but not data. 

#### CREATE:
- The Create command is used to create a new database or a new component in the database like tables, stored procedure, index, etc.
#### DROP:
- The DROP commands are used to delete objects from the database or the schema. It can delete a table, view, stored procedure, index or even a database.
#### ALTER:
- The Alter Table command allows us to modify an existing column in an existing table. This is useful when modifying the type or the size of the column.
- An important thing to keep in mind is that we cannot rename a column with the modify sub-command. To rename, there is a separate sub-command.
#### TRUNCATE:
- Truncate table command is used in MySQL to delete all the rows present in the particular table of the database.

3)

#### Data Manipulation Language command are used for manipulasting data in the database. DML commands are used for update,insert,delete and alter of data in the database. Some of the DML commands commonly used by the programmers while dealig with the database are given below:

#### INSERT:
- if we want to insert the data on particular columns,column name need to be pecified in the SQL command.

#### UPDATE:
- Update is used to modify the existing data that is present  in the table.Update set will modify the single row values or multiple row values based on the condition specified in the 'Where' clause.

#### Delete:
- DELETE command is used to delete one or more records from the table on the basis of the where condition specified in the command.
- If where the condition is not specified in the SQL command with DELETE, the whole table will get deleted.

4) 

- DQL statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to get some schema relation based on the query passed to it. We can define DQL as follows it is a component of SQL statement that allows getting data from the database and imposing order upon it. It includes the SELECT statement. This command allows getting the data out of the database to perform operations with it. When a SELECT is fired against a table or tables the result is compiled into a further temporary table, which is displayed or perhaps received by the program i.e. a front-end.
#### Example:
- SELECT column1,column2 FROM table_name column1 , column2

5)

#### Primary Key:
- A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing table column or a column that is specifically generated by the database according to a defined sequence. 

#### Foreign Key
- A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table.

6)
- mysql-connector-python
- mysql-python

- cursor(): This method creates a cursor object that is capable of executing SQL queries on the database.
- execute(): This method is used for executing SQL queries on the database. It takes a sql query( as string) as an argument.

7)

#### In SQL, the order of execution of clauses in an SQL query follows a specific sequence. Here is the typical order of execution:

1. `FROM`: Specifies the tables or views from which the data will be retrieved.
2. `JOIN`: Performs any necessary table joins based on specified conditions.
3. `WHERE`: Filters the rows based on specified conditions.
4. `GROUP BY`: Groups the rows based on one or more columns.
5. `HAVING`: Filters the groups based on specified conditions.
6. `SELECT`: Specifies the columns to be retrieved.
7. `DISTINCT`: Removes duplicate rows from the result set if specified.
8. `ORDER BY`: Sorts the result set based on specified columns and sort order.
9. `LIMIT`/`OFFSET`: Limits the number of rows returned and provides pagination if needed.

- It's important to note that not all clauses are mandatory in every SQL query. The clauses used in a query can vary depending on the specific requirements of the query and the data being retrieved. Additionally, some clauses like `GROUP BY`, `HAVING`, and `DISTINCT` are optional and can be omitted if not needed.

- Keep in mind that the order of execution can be influenced by parentheses and subqueries. Subqueries are executed first, and the results are then used in the outer query based on the overall query structure.

- It's also worth mentioning that some database management systems may have slight variations in the order of execution or provide optimizations based on query complexity or statistics. Therefore, it's a good practice to verify the specific behavior of the database system you are working with.